h1 {
 text-align: center;
 color: black;
}

figure {
    text-align: center;
  }
  
  .thumbnail {
    width: 100px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
  }
  
  .thumbnail:hover {
    opacity: 0.7;
  }
  
  .thumbnail.active {
    border: 2px solid red;
  }
  